[[source]]
url = "https://mirrors.cloud.tencent.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
opencv-python-headless = "*"
pymediainfo = "*"
numpy = "*"
tqdm = "*"
flask-cors = "*"
pyjwt = "*"
pyyaml = "*"
click = "*"

[dev-packages]
black = "*"
autopep8 = "*"
var-dump = "*"
mypy = "*"
types-requests = "*"
line-profiler = "*"
types-pyyaml = "*"
setuptools = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
